.appToolbar {
  position: fixed;
  top: 0px;
  z-index: 10;
}

.appDrawer {
  position: fixed;
  padding-top: 60px;
  margin-top: 10px;
}

.content {
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.spacer {
  flex-grow: 1;
}

.indicator {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
